/* ContactMe.module.css */
@import url('../font.css');

.linkedinIcon {
  cursor: pointer;
  background-color: transparent; /* Initial background color is transparent */
  transition: background-color 0.3s ease-in-out;
}

.linkedinIcon:hover {
  cursor: grab;
  background-color: #0077b5; /* Apply blue background color on hover */
}

/* Default styles for ContactMe same as in Layout.js */
.contact-title {
  font-family: 'Inter-Bold', sans-serif;
  font-size: 24px;
}

.contact-text {
  font-family: 'Inter-Regular', sans-serif;
  font-size: 18px;
}

/* Define additional styles for different components */
.project-details1-contact-title {
  font-size: 32px;
  font-weight: bold;
  /* Add specific styles for ProjectDetails1 */
  color: red; /* Example: Change color to red */
}

.project-details1-contact-text {
  font-family: 'Philosopher-Regular';
  font-size: 28px;
}

/* Define responsive styles for different screen sizes */
@media screen and (max-width: 600px) {
  .project-details1-contact-title {
    font-size: 24px; /* Example: Change font size to 24px for small screens */
    color: purple;
  }

  .project-details1-contact-text {
    font-size: 14px; /* Example: Change font size to 20px for small screens */
  }
}
